<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
		package="ru.wapstart.plus1.bart"
		android:versionCode="13"
		android:versionName="2.2.2">
	<uses-sdk android:minSdkVersion="8" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

	<!-- Uncomment the line bellow if you want to use Plus1 WapStart Conversion SDK -->
	<!-- <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> -->

	<application android:label="Bart" android:icon="@drawable/icon">
		<activity android:name="BartActivity"
				android:label="@string/app_name"
				android:configChanges="orientation">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>

			<!-- Uncomment the block bellow if you want to use Plus1 WapStart Conversion SDK -->
			<!--
			<intent-filter>
                <data android:scheme="wsp1hc" android:host="ru.wapstart.plus1.bart" />
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
            -->
		</activity>

		<activity android:name="ru.wapstart.plus1.sdk.MraidBrowser" />
	</application>
</manifest> 
