<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="ru.wapstart.plus1.bart"
      android:versionCode="1"
      android:versionName="1.0">
    <application android:label="Bart" android:icon="@drawable/icon">
        <activity android:name="BartActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest> 
